body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 30px;
    background: rgb(123, 208, 211);
}

#appDiv {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(184, 253, 255); */
}

#appTitle {
    text-align: center;
}

#uploadDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    /* border: 2px solid rgb(198, 246, 255); */
    border-radius: 10px;
    /* background: whitesmoke; */
}

/* #fileInput {
} */

#uploadButton {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#filesListDiv {
    width: 100%;
    max-width: 640px;
    /* background: beige; */
    margin-top: 40px;
}

#filesListDiv h2 {
    text-align: center;
}

#fileList {
    height: 50vh;
    overflow-y: auto;
    padding: 10px 0px;
}

.fileDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: aliceblue; */
    padding: 10px;
    border: 1px solid rgb(39, 188, 193);
    border-radius: 20px;
    margin-bottom: 10px;
}

.fileDetailsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: white; */
}

.fileName {
    font-size: 1rem;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 10px;
}

.fileSize {
    font-size: 0.9rem;
    color: rgb(0, 75, 105);
    margin: 0;
}

.downloadButton {
    max-width: 100px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}