body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 30px;
    background: rgb(123, 208, 211);
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#appTitle {
    text-align: center;
}

#uploadDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgb(198, 246, 255);
    border-radius: 10px;
    /* background: whitesmoke; */
}

#fileInput {
    /* padding: 10px; */
}

button {
    padding: 10px;
    border-radius: 10px;
}